
<!-- <div class="dashboard-container">
  <div class="sidebar">
    <button routerLink="managebook">Manage Books</button>
    <button routerLink="manageuser">Manage Users</button>
    <button class="logout-btn" (click)="logout()">logout</button>
  </div>

  <div class="dashboard-content">
    <router-outlet></router-outlet>
  </div>
</div> -->

<div class="dashboard-container">
  <div class="sidebar">
    <div class="nav-buttons">

      <button routerLink="managebook">Manage Books</button>
      <button routerLink="manageuser">Users Details</button>
      <button routerLink="managerequest">Manage Request</button>
      <button routerLink="reports">Reports</button>
    </div>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>

  <div class="dashboard-content">
    <router-outlet></router-outlet>
  </div>
</div>

