<div class="admin-dashboard">
  <h2>Admin Dashboard</h2>
  <div class="button-group">
    <!-- <button class="dashboard-btn" routerLink="/manage-users">👥 User Management</button> -->
    <button class="dashboard-btn" routerLink="/admin/manage-books">📚 Manage Books</button>
    <!-- <button class="dashboard-btn" routerLink="/issued-books">📈 Track Borrowing</button>
    <button class="dashboard-btn" routerLink="/reports">Reports</button> -->
    <button class="dashboard-btn" (click)="logout()">Logout</button>
  </div>
</div>
