<div class="book-management-container">
  <div class="button-container">
  <button class="back-button" (click)="goHome()">Back to Home</button>
</div>

  <h2>📚 Available Books</h2>


  <div class="search-container mb-3">
    <input
      type="text"
      [(ngModel)]="keyword"
      placeholder="Search here..."
      class="form-control"
      (keyup)="onSearch()"

    />

<div class="text-center mb-3">
  <button (click)="showFilter = true" class="filter-btn">Filter</button>
</div>

<!-- Filter Modal -->
<div class="modal-overlay" *ngIf="showFilter">
  <div class="modal-content">
    <h3>🔍 Filter Books</h3>

    <div class="filter-row">
      <label for="bookName">Book Name</label>
      <input id="bookName" type="text" [(ngModel)]="bookName" placeholder="Enter Book Name" />
    </div>

    <div class="filter-row">
      <label for="genre">Genre</label>
      <input id="genre" type="text" [(ngModel)]="genre" placeholder="Enter Genre" />
    </div>

    <div class="btn-group">
      <button (click)="applyFilter()">Apply Filter</button>
      <button (click)="cancelFilter()" class="cancel-btn">Close</button>
    </div>
  </div>
</div>


  </div>
  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of isFilterApplied ? filteredBooks : displayedBooks">
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.genre }}</td>
        <td>{{book.quantity}}</td>
      </tr>
    </tbody>
  </table>
    <div class="pagination-controls">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
  Page {{ currentPage }} of {{ totalPages }}
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>
</div>
